$c-brand-primary: #4260ac;
$c-brand-secondary: #eee;

$nav-margin: 8px;

.page-header {
  background-color: $c-brand-primary;
  padding: 16px;
  color: $c-brand-secondary;

  .page-title {
    h1.topline {
      margin: 8px 0px 0px 0px;
    }
    h1.bottomline {
      margin: 12px 0px 4px 0px;
    }
  }
}

#navbar-custom {
  background-color: $c-brand-primary;
  font-size: 12pt;
  ul {
    li {
      a:link, a:visited, a:active {
        color: $c-brand-secondary;
        background-color: $c-brand-primary;
      }
      a:hover {
        color: $c-brand-primary;
        background-color: $c-brand-secondary;
      }
    }
  }
  .img-responsive {
    float: right;
    padding-top: $nav-margin;
    padding-bottom: $nav-margin;
    display: block;
    width: auto;
  }
  .left {
    margin-top: $nav-margin;
    float: left;
  }
  .right {
    float: right;
  }
}

.content {
  margin-top: 16px;
  article {
    background-color: $c-brand-primary;
    color: $c-brand-secondary;
    padding: 2px 16px 6px 16px;
    margin: 0px 0px 16px 0px;

    img {
      max-width: 100%;
      height: auto;
      margin: 0px auto 10px auto;
      display: block;
    }

    a:link, a:visited, a:active {
      text-decoration: underline;
      color: $c-brand-secondary;
      background-color: $c-brand-primary;
    }
    a:hover {
      text-decoration: underline;
      color: $c-brand-primary;
      background-color: $c-brand-secondary;
    }
  }
}

.committee-member {
  margin-top: 16px;
  padding: 8px;
  background-color: $c-brand-primary;
  color: $c-brand-secondary;
  p {
    display: block;
  }
  h3 {
    margin-top: 0px;
  }
  .left {
    float: left;
    margin-right: 12px;
    img {
      margin-top: 8px;
    }
  }

}
