extends ../_layout-details

block main-heading
  | Linux Essentials

append venue
  address.
    Lecture Theatre 1 #[br]
    Arts Tower

//- special case for recurring event
block schedule
  //- h2 Last Session
  //- .start
  //-   time
  //-     span.moy Oct
  //-     span.dom 23
  //-   .details
  //-     .time 17:00
  //-     .duration 2 Hours

block tickets
  h2 Course Finished
  p: a(href="https://www.facebook.com/events/350658985375745/") Facebook Event &rarr;

append info
  section
    h2 Course
    p A short weekly Linux course taking you from zero to Bash hero.
    p Being profficient in a Linux environment is also a key skill for employability in the tech sector.
    p This will be especially beneficial for second years taking Software Hut next semester.

  section
    h2 Virtual Machine
    ul
      li: a(href="https://www.virtualbox.org/wiki/Downloads") VirtualBox
      li: a(href="https://drive.google.com/a/sheffield.ac.uk/file/d/0B8RGZhxPfAjSMTMxYWJnSTFrQVU/view?usp=sharing") Ubuntu Image

  section
    h2 Slides
    ul
      li: a(href="https://drive.google.com/open?id=1wuJ0bt3fjY3FfXeIeWXMRy8xc5Nrt-JxaAaJPwO49ns") Week One: Basics
      li: a(href="https://drive.google.com/open?id=1fn4Z9QCl56xGRrVucDBhymZ27N7TilAJ9jY1b8nshjo") Week Two: File editing and I/O Streams
      li: a(href="https://drive.google.com/open?id=1xBlnNKdsjTUECnVrIF_GSBYED_OnbFlv7E9waKlMz70") Week Three: Users, Groups, Permissions and processes
      li: a(href="https://drive.google.com/open?id=1Ucm88rMGzSl8rs30MMWlAwWIJ7gl3_ZuKmvXSUQdslI") Week Four: Package management, Useful tools and Desktop environments
