footer
  div.footer
    figure.logo
      img(src="assets/full.png" alt="CompSoc Logo")

    nav.social
      ul
        li: a(href="social.php#twitter") Twitter
        li: a(href="social.php#instagram") Instagram
        li: a(href="social.php#slack") Slack
        li: a(href="social.php#facebook") Facebook
        li: a(href="social.php#snapchat") Snapchat
