div.footer
  footer
    figure.logo
      img(src="/images/full.png" alt="CompSoc Logo")

    nav.social
      ul
        li: a(href="/social#twitter") Twitter
        li: a(href="/social#instagram") Instagram
        li: a(href="/social#slack") Slack
        li: a(href="/social#facebook") Facebook
        li: a(href="/social#snapchat") Snapchat
