div.nav.fixable
  nav
    a(href="/") Home
    a(href="events.php") Events
    a(href="committee.php") Committee
    a(href="http://signup.shefcompsoc.co.uk" target="_blank") Signup
    a(href="http://su.sheffield.ac.uk/groups/computer-science--2" target="_blank") Membership
    a(href="social.php") Social Media
