div.nav.fixable
  nav
    a(href="/") Home
    a(href="/events") Events
    a(href="/committee") Committee
    a(href="http://signup.shefcompsoc.co.uk" target="_blank") Signup
    a(href="http://su.sheffield.ac.uk/groups/computer-science--2" target="_blank") Membership
    a(href="/social") Social Media
