extends layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/committee.css")

block main
  h1.title Committee

  h3: a(href="https://www.google.com/url?q=https://drive.google.com/open?id%3D0B8RGZhxPfAjSd1Zkc0JsdGhiRmM&sa=D&ust=1485791150289000&usg=AFQjCNHAJR2NcGyCZrQDKEXQ8H5vZoGzWA") View the CompSoc constitution &rarr;

  div.committee-members
    - for (const member of committee)
      section.committee-member
        div.info
          div.role
            h3= member.name
            p!= member.role

          div.avatar
            img(src=`/images/committee/${member.avatar}.jpg`)

        p.bio!= member.bio
