extends layout

block main
  h1.title Events

  section.event
    a(href="http://shefjam.shefcompsoc.co.uk/")
      figure
        div: img(src="/images/gamejams.png" alt="")
        figcaption
          h1 Gamejams
    br
    p ShefJam is a gamejam we run two or three times per year. It offers you a chance to come along and team up with people (or go solo) and create a game from scratch.
