extends _layout

append styles
  link(rel="stylesheet" href="/styles/events.css")

block main
  h1.title Events

  section.upcoming
    - if (events.length)
      h2 Upcoming

    //- iterate months
    - for (const month of events) if (month)
      h3= month[0].fullmoy
      div.month
        //- iterate events
        - for (const event of month)
          +eventSummary(event)

  hr

  section.events
    section.event
      a(href="/event/gamejams")
        figure
          div: img(src="/images/events/gamejams.png" alt="")
          figcaption GameJams
      p ShefJam is a GameJam we run two or three times per year. It offers you a chance to come along and team up with people (or go solo) and create a game from scratch.

    section.event
      a(href="/event/socials")
        figure
          div: img(src="/images/events/socials.png" alt="")
          figcaption Social Events
      p We run a number of social events throughout the year. From bar crawls and pub meetups to bowling evenings and film nights.

    //- section.event
    //-   a(href="/event/codetoast")
    //-     figure
    //-       div: img(src="/images/events/codetoast.png" alt="")
    //-       figcaption CodeToast
    //-   p CodeToast (noun): a group of events designed to test your nerve (and programming skill) against one another; the opposite of GameJam.

    section.event
      a(href="/event/tutorials")
        figure
          div: img(src="/images/events/tutorials.png" alt="")
          figcaption Tutorials
      p Extra-curricular teaching from expert students. Linux basics, Git version control, web development and other programming seminars.

    section.event
      a(href="/event/mentoring")
        figure
          div: img(src="/images/events/mentoring.png" alt="")
          figcaption Mentoring
      p Personal one-on-one mentors who you can contact as well as regular group meetups for general help when you're stuck. Disclaimer: not for specific assignment help.

    section.event
      a(href="/event/summerball")
        figure
          div: img(src="/images/events/summerball.png" alt="")
          figcaption Summer Ball
      p Given the huge success of our first summer ball in 2016, the CompSci Summer Ball is sure to be tradition for years to come.

    section.event
      a(href="/event/gms")
        figure
          div: img(src="/images/events/gms.png" alt="")
          figcaption AGMs
      p Annual General Meetings (AGMs) are held every year around April/May time. If you wish to get involved with the running of the society, apply for a position beforehand.
