extends layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/events.css")

block main
  h1.title Events

  section.upcoming
    h2 October
    div.month
      div.event
        time
          span.moy Oct
          span.dom 24
        div.details
          div.name Linux 101
          div.link: a(href="https://www.facebook.com/events/1822714788015241/") Facebook Event &rarr;

      div.event
        time
          span.moy Oct
          span.dom 31
        div.details
          div.name Linux 101
          //- div.link: a(href="") Facebook Event &rarr;

    h2 November

    div.month
      div.event
        time
          span.moy Nov
          span.dom 7
        div.details
          div.name Linux 101
          //- div.link: a(href="") Facebook Event &rarr;

      div.event
        time
          span.moy Nov
          span.dom 14
        div.details
          div.name Git 101
          //- div.link: a(href="") Facebook Event &rarr;

      div.event
        time
          span.moy Nov
          span.dom 21
        div.details
          div.name Linux 101
          //- div.link: a(href="") Facebook Event &rarr;

  hr

  section.events
    section.event
      a(href="http://shefjam.shefcompsoc.co.uk/")
        figure
          div: img(src="/images/gamejams.png" alt="")
          figcaption Gamejams
      p ShefJam is a gamejam we run two or three times per year. It offers you a chance to come along and team up with people (or go solo) and create a game from scratch.

    section.event
      a(href="http://shefjam.shefcompsoc.co.uk/")
        figure
          div: img(src="/images/socials.png" alt="")
          figcaption Social Events
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    section.event
      a(href="http://shefjam.shefcompsoc.co.uk/")
        figure
          div: img(src="/images/codetoast.png" alt="")
          figcaption CodeToast
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    section.event
      a(href="http://shefjam.shefcompsoc.co.uk/")
        figure
          div: img(src="/images/tutorials.png" alt="")
          figcaption Tutorials
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    section.event
      a(href="http://shefjam.shefcompsoc.co.uk/")
        figure
          div: img(src="/images/mentoring.png" alt="")
          figcaption Mentoring
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    section.event
      a(href="http://shefjam.shefcompsoc.co.uk/")
        figure
          div: img(src="/images/summerball.png" alt="")
          figcaption Summer Ball
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    section.event
      a(href="http://shefjam.shefcompsoc.co.uk/")
        figure
          div: img(src="/images/competitions.png" alt="")
          figcaption Coding Competitions
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

    section.event
      a(href="http://shefjam.shefcompsoc.co.uk/")
        figure
          div: img(src="/images/ctf.png" alt="")
          figcaption Capture The Flag
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
