extends layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/events.css")

block main
  h1.title Events

  section.upcoming
    h2 November
    div.month

      div.event
        time
          span.moy Nov
          span.dom 5
        div.details
          div.name Open Mentoring Session
          div.link: a(href="https://www.facebook.com/events/1812637265644016/") Facebook Event &rarr;

      div.event
        time
          span.moy Nov
          span.dom 7
        div.details
          div.name: a(href="/event/linux101") Linux 101: Week 3
          div.link: a(href="https://www.facebook.com/events/545752938957835/") Facebook Event &rarr;

      div.event
        time
          span.moy Nov
          span.dom 9
        div.details
          div.name ShefJam Primer
          div.link: a(href="https://www.facebook.com/events/1175583659187576/") Facebook Event &rarr;

      div.event
        time
          span.moy Nov
          span.dom 14
        div.details
          div.name Linux 101: Week 4 (Git)
          //- div.link: a(href="") Facebook Event &rarr;

      div.event
        time
          span.moy Nov
          span.dom 19
        div.details
          div.name: a(href="/event/shefjam3") ShefJam 3
          div.link: a(href="https://www.facebook.com/events/1341879175852841/") Facebook Event &rarr;

      div.event
        time
          span.moy Nov
          span.dom 21
        div.details
          div.name Linux 101: Week 5
          //- div.link: a(href="") Facebook Event &rarr;

      div.event
        time
          span.moy Nov
          span.dom 23
        div.details
          div.name Wednesday Corp Social
          div.link: a(href="https://www.facebook.com/events/1154334107986361/") Facebook Event &rarr;

  hr

  section.events
    section.event
      a(href="/event/gamejams")
        figure
          div: img(src="/images/events/gamejams.png" alt="")
          figcaption GameJams
      p ShefJam is a GameJam we run two or three times per year. It offers you a chance to come along and team up with people (or go solo) and create a game from scratch.

    section.event
      a(href="/event/socials")
        figure
          div: img(src="/images/events/socials.png" alt="")
          figcaption Social Events
      p We run a number of social events throughout the year. From bar crawls and pub meetups to bowling evenings and film nights.

    section.event
      a(href="/event/codetoast")
        figure
          div: img(src="/images/events/codetoast.png" alt="")
          figcaption CodeToast
      p CodeToast (noun): a group of events designed to test your nerve (and programming skill) against one another; the opposite of GameJam.

    section.event
      a(href="/event/tutorials")
        figure
          div: img(src="/images/events/tutorials.png" alt="")
          figcaption Tutorials
      p Extra-curricular teaching from expert students. Linux basics, Git version control, web development and other programming seminars.

    section.event
      a(href="/event/mentoring")
        figure
          div: img(src="/images/events/mentoring.png" alt="")
          figcaption Mentoring
      p Personal one-on-one mentors who you can contact as well as regular group meetups for general help when you're stuck. Disclaimer: not for specific assignment help.

    section.event
      a(href="/event/summerball")
        figure
          div: img(src="/images/events/summerball.png" alt="")
          figcaption Summer Ball
      p We ran our first society ball in 2016. Given it's huge success, we hope to make this a CompSci tradition for years to come. #[br] #[a(href="") Check out the photos here.]

    section.event
      a(href="/event/ctf")
        figure
          div: img(src="/images/events/ctf.png" alt="")
          figcaption Capture The Flag
      p A chance to practice offensive security. Gain access to a tightly controlled server using a variety of penetration testing techniques.
