<header class="container-fluid">
  <div class="row">
    <a href="/">
      <img src="assets/logo.png" alt="Sheffield Computer Science Society">
    </a>
  </div>
</header>

<div class="nav fixable">
  <nav>
    <a href="/">Home</a>
    <a href="events.php">Events</a>
    <a href="committee.php">Committee</a>
    <a href="http://signup.shefcompsoc.co.uk" target="_blank">Signup</a>
    <a href="http://su.sheffield.ac.uk/groups/computer-science--2" target="_blank">Membership</a>
    <a href="social.php">Social Media</a>
  </nav>
</div>
