extends layout

block main
  section.intro.shefjam
    div
      h2 ShefJam 3
      p Coming Soon&trade;

    div
      iframe#ytplayer(type="text/html" src="https://www.youtube.com/embed/ViLuFC3xV9g?modestbranding=1&rel=0&showinfo=1&color=white" frameborder="0" allowfullscreen)

  br

  section.intro
    h2 Events
    div.bubbles
      figure
        div.icon: img(src="assets/gamejams.png" alt="")
        figcaption Game Jams

      figure
        div.icon: img(src="assets/socials.png" alt="")
        figcaption Social Events

      figure
        div.icon: img(src="assets/codetoast.png" alt="")
        figcaption CodeToast

      figure
        div.icon: img(src="assets/tutorials.png" alt="")
        figcaption Tutorials

      figure
        div.icon: img(src="assets/mentoring.png" alt="")
        figcaption Mentoring

      figure
        div.icon: img(src="assets/summerball.png" alt="")
        figcaption Summer Ball

      figure
        div.icon: img(src="assets/competitions.png" alt="")
        figcaption Coding Competitions

      figure
        div.icon: img(src="assets/ctf.png" alt="")
        figcaption Capture The Flag
