extends layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/index.css")

block main
  section.intro.shefjam
    div
      p Get ready for
      h2: a(href="/event/shefjam4") ShefJam 4

    div
      img(src="images/event/shefjam4/promo.png", alt="")

  br

  section.intro
    h2 Events
    div.bubbles
      a(href="/event/gamejams")
        figure
          div.icon: img(src="/images/events/gamejams.png" alt="")
          figcaption Game Jams

      a(href="/event/socials")
        figure
          div.icon: img(src="/images/events/socials.png" alt="")
          figcaption Social Events

      a(href="/event/codetoast")
        figure
          div.icon: img(src="/images/events/codetoast.png" alt="")
          figcaption CodeToast

      a(href="/event/tutorials")
        figure
          div.icon: img(src="/images/events/tutorials.png" alt="")
          figcaption Tutorials

      a(href="/event/mentoring")
        figure
          div.icon: img(src="/images/events/mentoring.png" alt="")
          figcaption Mentoring

      a(href="/event/summerball")
        figure
          div.icon: img(src="/images/events/summerball.png" alt="")
          figcaption Summer Ball

      a(href="/event/ctf")
        figure
          div.icon: img(src="/images/events/ctf.png" alt="")
          figcaption Capture The Flag

      a(href="/event/gms")
        figure
          div.icon: img(src="/images/events/gms.png" alt="")
          figcaption AGMs

  br

  section.intro.sponsors
    h2 Sponsors

    div.flex-wrap
      a(href="http://www.chersoft.co.uk" target="_blank")
        img(src="/images/sponsors/chersoft.png")

      a(href="http://www.sheffield.ac.uk/dcs" target="_blank")
        img(src="/images/sponsors/tuos.png")
