extends layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/membership.css")

block main
  h1.title Membership

  p: a(href="/register" target="_blank") Register your email with us to recieve newsletters and be added to the Slack team.
  p: a(href="/membership" target="_blank") Membership is only £5 for the year and entitles you to reduced price (or free) event tickets. Talk to a committee member to pay by cash or use the Union website to pay by card.
