extends _layout

append styles
  link(rel="stylesheet" href="/styles/signup.css")

block main
  h1.title Signup

  div.signup-levels

    a.signup-level(href="/membership" target="_blank")
      h2 Membership
      div
        img(src="/images/signup/membership.png")
      p Membership is only &pound;5 for the year and entitles you to reduced price (or free) event tickets. Click here to to pay by card on the Union website.
