extends layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/membership.css")

block main
  h1.title Membership

  a(href="/register" target="_blank") Signup
  a(href="/membership" target="_blank") Membership
