extends _layout

append styles
  link(rel="stylesheet" href="/styles/social.css")

block main
  h1(class="title") Social

  section.social#facebook
    h2 Facebook

    a(href="https://www.facebook.com/shefcompsoc/")
      figure
        div
          img(src="/images/social/facebook.png" alt="")
        figcaption Sheffield CompSoc Page
    br
    a(href="https://www.facebook.com/groups/879150085447908/")
      figure
        div
          img(src="/images/social/facebook.png" alt="")
        figcaption CompSoc General Chat Group
		
  section.social#instagram
    a(href="https://www.instagram.com/shefcompsoc/")
      figure
        div
          img(src="/images/social/instagram.png" alt="")

        figcaption
          h2 Instagram
          p @shefcompsoc

  section.social#snapchat
    figure
      div
        img(src="/images/social/snapchat.png" alt="")
      figcaption
        h2 Snapchat
        p @shefcompsoc

    br
    p #[a(href="https://support.snapchat.com/en-GB/article/friends-snapcodes") Scan this with your phone] or #[a(href="https://support.snapchat.com/en-GB/a/add-snapcodes") screenshot it and add it] in the Snapchat app.

    img(src="/images/social/snapcode.png" alt="")
