@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

.events {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

.event {
  flex: 1 1 300px;
  padding: 20px;
  margin: 5px;

  background: url('../images/compsoc-bg.png') center center repeat $cs-dark1;
  background-size: 600px;

  color: $cs-green3;

  border-radius: 5px;

  a:hover {
    text-decoration: none;

    & figure {
      figcaption::after {
        width: 100%;
      }

      div {
        transform: translateY(5px);
      }
    }
  }

  figure {
    margin: 0 auto;
    max-width: 400px;

    color: $cs-green4;
    font-size: 20px;
    font-family: Aleo;
    text-align: center;

    div {
      transition: transform 200ms ease;

      img {
        margin: 0;
        width: 150px;
        height: auto;
      }
    }

    figcaption {
      margin-top: 0.4em;
      font-size: 2rem;

      &:hover {
        text-decoration: none;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        margin: 0 auto;
        height: 1px;

        background: currentColor;

        transition: width 100ms ease;
      }
    }
  }

  p {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 400px;

    color: $cs-green3;
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
  }
}

@include mq(mobile) {
  .committee-member {
    margin: 5px 5px 0;

    .role p {
      padding-bottom: 20px;
    }

    .info {
      flex-direction: column;
      text-align: center;
    }

    .bio {
      text-align: left;
    }
  }
}
