@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

.intro {
  padding: 20px;

  background: $cs-dark1;
  border-radius: 5px;

  color: $cs-green3;

  > h2 {
    margin-bottom: 1em;

    font-size: 2rem;
    font-family: Aleo;
    font-weight: 300;
    text-align: center;
  }
}

.shefjam {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  @include mq(small) {
    flex-direction: column;
  }

  > div {
    &:first-child {
      flex: 3;
      padding-right: 40px;

      text-align: right;
      font-family: Aleo;
      font-weight: 300;

      @include mq(small) {
        text-align: center;
      }

      h2 {
        @include responsive-font(6vw, 2.2rem, 4rem);
        margin: 0;
        font-weight: 300;
      }

      p {
        @include responsive-font(4vw, 1.5rem, 2.5rem);
        margin: 0;
      }
    }

    &:last-child {
      flex: 4;

      text-align: left;

      @include mq(small) {
        text-align: center;
      }

      iframe {
        max-width: 42vw;
        max-height: 25vw;
        width: 100%;
        height: 25vw;

        @include mq(small) {
          max-width: 80vw;
          max-height: 50vw;
          width: 100%;
          height: 50vw;

        }
      }
    }

  }
}

.bubbles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;

  > a {
    flex: 1 1 250px;
    margin-bottom: 3em;

    text-align: center;

    &:hover,
    &:focus {
      text-decoration: none;

      div {
        transform: translateY(6px);
      }

      figcaption {
        transform: translateY(-6px);
      }
    }

    div {
      margin-bottom: 1em;

      transition: transform 200ms ease;
    }

    img {
      max-height: 7rem;
      width: auto;
    }

    figcaption {
      font-size: 1.5rem;
      font-family: Aleo;
      font-weight: 300;

      transition: transform 200ms ease;
    }
  }
}
