@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

main {
  @include mq(small) {
    padding: 0 1rem;
  }
}

.signup-levels {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.signup-level {
  flex: 1 1 300px;
  padding: 20px;

  border: 1px solid transparent;
  border-radius: 10px;

  text-align: center;

  transition: background-color 100ms ease, border-color 100ms ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: $cs-green3;
    box-shadow: none !important;
  }

  h2 {
    margin-top: 0;

    color: $cs-green2;
  }

  p {
    max-width: 400px;
    margin: 0 auto;
  }

  img {
    height: auto;
    width: auto;
    max-height: 120px;
    margin-bottom: 1.2em;
  }
}

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 (modified Nov 2017) */
#mc_embed_signup {
  max-width: 500px;

  form {
    display: block;
    position: relative;
    text-align: left;
    padding: 10px 0 10px 3%;
  }

  h2 {
    font-weight: bold;
    padding: 0;
    margin: 15px 0;
    font-size: 1.4em;
  }

  input {
    box-sizing: border-box;
    border: 1px solid #abb0b2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:focus {
      border-color: #333;
    }
  }

  input[type='checkbox'] {
    -webkit-appearance: checkbox;
  }

  input[type='radio'] {
    -webkit-appearance: radio;
  }

  .button {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;

    &:hover {
      background-color: #777;
    }
  }

  .small-meta {
    font-size: 11px;
  }

  .nowrap {
    white-space: nowrap;
  }

  .mc-field-group {
    clear: left;
    position: relative;
    width: 96%;
    padding-bottom: 3%;
    min-height: 50px;

    label {
      display: block;
      margin-bottom: 3px;
    }

    input {
      display: block;
      width: 100%;
      padding: 8px 0;
      text-indent: 2%;
    }

    select {
      display: inline-block;
      height: 44px;
      width: 100%;
      padding: 8px 0;
      margin-bottom: 2px;
    }
  }

  .size1of2 {
    clear: none;
    float: left;
    display: inline-block;
    width: 46%;
    margin-right: 4%;
  }

  .datefield {
    padding: 5px 0;

    input {
      display: inline;
      width: 60px;
      margin: 0 2px;
      letter-spacing: 1px;
      text-align: center;
      padding: 5px 0 2px 0;
    }

    .monthfield {
      input {
        width: 30px;
      }
    }

    .dayfield {
      input {
        width: 30px;
      }
    }

    label {
      display: none;
    }
  }

  .phonefield-us {
    padding: 5px 0;

    input {
      display: inline;
      width: 60px;
      margin: 0 2px;
      letter-spacing: 1px;
      text-align: center;
      padding: 5px 0 2px 0;
    }

    .phonearea {
      input {
        width: 40px;
      }
    }

    .phonedetail1 {
      input {
        width: 40px;
      }
    }

    label {
      display: none;
    }
  }

  .indicates-required {
    text-align: right;
    font-size: 0.8rem;
    margin-right: 4%;
  }

  .asterisk {
    color: #e85c41;
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: 5px;
  }

  .clear {
    clear: both;
  }

  .mc-field-group.input-group {
    ul {
      margin: 0;
      padding: 5px 0;
      list-style: none;

      li {
        display: block;
        padding: 3px 0;
        margin: 0;
      }
    }

    label {
      display: inline;
    }

    input {
      display: inline;
      width: auto;
      border: none;
    }
  }

  #mce-responses {
    float: left;
    top: -1.4em;
    padding: 0 0.5em 0 0;
    overflow: hidden;
    width: 90%;
    margin: 0;
    clear: both;
  }

  .response {
    margin: 1em 0;
    padding: 1em 0.5em 0.5em 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 80%;
  }

  #mce-error-response {
    display: none;
  }

  #mce-success-response {
    color: #529214;
    display: none;
  }

  .error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: 0.5em 0;
  }

  #num-subscribers {
    font-size: 1.1em;

    span {
      padding: 0.5em;
      border: 1px solid #ccc;
      margin-right: 0.5em;
      font-weight: bold;
    }
  }

  #mc-embedded-subscribe-form {
    div.mce_inline_error {
      display: inline-block;
      margin: 2px 0 1em 0;
      padding: 5px 10px;
      background-color: rgba(255, 255, 255, 0.85);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 0.8rem;
      font-weight: normal;
      z-index: 1;
      color: #e85c41;
      float: right;
    }

    input.mce_inline_error {
      border: 2px solid #e85c41;
    }
  }

  #mc-embedded-subscribe {
    display: block;
    float: right;
    width: auto;
    height: auto;
    margin: 1em 4%;
    padding: 0.4em 0.8em;
    clear: both;

    font-size: 1.1rem;

    background-color: $cs-green3;

    &:hover {
      background-color: $cs-green2;
    }
  }
}
