extends ../layout

block main
  #header
    #countdown.content
      h1 Challenge Starts In
      .clock
        div
          span.days
          .smalltext Days
        div
          span.hours
          .smalltext Hours
        div
          span.minutes
          .smalltext Minutes
        div
          span.seconds
          .smalltext Seconds
      br
      br
      ul.actions
        li
          a.button.icon.fa-chevron-down.scrolly(href='#one') Get Started
    .inner
      img(src='new/images/logo.png', alt='')
  if page.active
    section#one.wrapper
      .inner
        header.major
          h2= "Problems"
        section
          p= "User ID: " + page.user.id
          .table-wrapper
            ul#challenges.alt2
              li
                .row
                  .pug(class='1u 12u$(xsmall)')
                    h4  ID
                  .pug(class='9u 12u$(xsmall)')
                    h4  Name
                  .pug(class='2u 12u$(xsmall)')
                    h4  Difficulty
              each challenge, index in page.challenges
                li
                  .row
                    .pug(class='1u 18u$(xsmall)')= challenge.id
                    .pug(class='9u 12u$(xsmall)')= challenge.name
                    .pug(class='2u 12u$(xsmall)')= challenge.difficulty
                    .pug(class='12u 12u$(xsmall)' style='display: none; margin-top: 10px')= challenge.description


    section#two.wrapper.style2.special
      header.major
        h2 How did we do?
        p
          | We are always looking to improve the society and
          br
          |  want to know what you thought about today&apos;s event.
      ul.actions
        li
          a.button.special.icon(href='https://goo.gl/forms/nt2jvsEbFnh5vC3t1') Take Survey

  else
    section#one.wrapper
      .inner
        header.major
          h2 Patience is a virtue
        section
          p We will begin shortly, please be patient until then.
