@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

.committee-members {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;;
  align-items: stretch;
}

.committee-member {
  flex: 1 1 400px;
  padding: 20px;
  margin: 5px;

  background-color: $cs-dark1;
  color: $cs-green3;

  border-radius: 5px;

  h3 {
    margin-top: 0;
    font-family: Aleo;
  }

  .role {
    font-size: 20px;
    font-family: Aleo;
    font-weight: 300;
  }

  div {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-flow: row wrap;
  }

  .avatar {
    flex: 1 0 auto;
    padding: 20px;
    padding-left: 0;
  }

  img {
    margin: 0 auto;

    width: 150px;
    height: auto;

    border: 4px solid $cs-green3;
    border-radius: 50%;
  }

  .bio {
    flex: 1 1 250px;

    font-size: 16px;
    line-height: 1.6;
  }
}
