@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

section.social {
  padding: 20px;

  background: $cs-dark2;
  color: $cs-green4;

  h1 {
    font-family: Aleo;
  }

  &:not(:last-child) {
    border-bottom: 1px dashed $cs-dark6;
  }

  img {
    display: block;
    width: 100%;
    max-width: 30rem;
    max-height: auto;
    margin: 0 auto;
  }

  figure {
    display: flex;
    flex-flow: row wrap;

    div {
      flex: 1;
    }

    img {
      max-width: 5rem;
      max-height: auto;
      width: auto;
      height: auto;
      margin: 0 auto;
      padding-right: 20px;

      vertical-align: middle;
    }

    figcaption {
      flex: 7;

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      vertical-align: middle;
      font-size: 2rem;

      h1 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }


}
