@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

html {
  font-size: 16px;

  background: $cs-dark1;
}

body {
  background: $cs-dark3;
  overflow-y: scroll;

  font-family: Source Sans Pro;
  font-size: 20px;
}
