@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

html {
  font-size: 16px;
}

body {
  background-image: url('../assets/hexabump.png');
  overflow-y: scroll;
  background-repeat: repeat;
}
