@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

.nav {
  background-color: $cs-dark0;
}

.nav nav {
  @include site-width;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  font-size: 1rem;

  a:link,
  a:visited {
    flex: 1 0 150px;
    padding: 10px 20px;

    color: $cs-green3;
    text-align: center;
  }

  a:hover {
    background-color: $cs-green2;

    text-decoration: none;
    color: $cs-dark1;
  }
}
