@import '../variables/colors';
@import '../variables/sizes';
@import '../variables/mixins';

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;

  background-color: transparentize($cs-dark0, 0.05);
}

@supports (backdrop-filter: blur(0)) {
  .nav {
    background-color: transparentize($cs-dark0, 0.2);
    backdrop-filter: blur(6px);
  }
}

@include mq(small) {
  .nav {
    position: static;
  }
}

.nav nav {
  @include site-width;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;

  font-size: 1rem;

  a:link,
  a:visited {
    flex: 1 0 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    font-size: 1.25rem;
    line-height: 1;
    font-family: Aleo;
    font-weight: 300;
    text-align: center;
    color: $cs-green3;
  }

  a:hover {
    background-color: $cs-green2;

    text-decoration: none;
    color: $cs-dark1;
  }
}
