footer#footer
  ul.icons
    li
      a.icon.fa-slack(href='https://shefcompsoc.slack.com')
        span.label Slack
    li
      a.icon.fa-github(href='https://github.com/shefcompsoc')
        span.label GitHub
    li
      a.icon.fa-twitter(href='https://twitter.com/shefcompsoc/')
        span.label Twitter
    li
      a.icon.fa-facebook(href='https://www.facebook.com/shefcompsoc/')
        span.label Facebook
    li
      a.icon.fa-instagram(href='https://www.instagram.com/shefcompsoc/')
        span.label Instagram
  p.copyright
    | &copy; Sheffield CompSoc 2017. Credits:
    a(href='http://html5up.net') HTML5 UP
script(src='/new/assets/js/jquery.min.js')
script(src='/new/assets/js/jquery.scrolly.min.js')
script(src='/new/assets/js/skel.min.js')
script(src='/new/assets/js/util.js')
//if lte IE 8
  script(src='/new/assets/js/ie/respond.min.js')
script(src='/new/assets/js/main.js')
script(src='/new/assets/js/clock.js')
