doctype html
html(lang="en")
  head

    title Sheffield CompSoc
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  meta(name="apple-mobile-web-app-title", content="CompSoc")
    meta(name="application-name", content="CompSoc")
    meta(name="theme-color", content="#70b62c")
    link(rel="manifest", href="/files/manifest.json")
    link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#70b62c")

  link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon.png")
  link(rel="icon", type="image/png", href="/images/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="/images/favicon-16x16.png", sizes="16x16")

    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='assets/css/main.css')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/clock.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')

  body#top
