extends ../layout

block main
  h1.title GameJams

  div
    //- h3: a(href="/event/shefjam1") ShefJam 1 &rarr;
    //- h3: a(href="/event/shefjam2") ShefJam 2 &rarr;
    h3: a(href="/event/shefjam3") ShefJam 3 &rarr;
