extends layout

append title
  | Linux 101

append venue
  address.
    Lecture Theatre 8 #[br]
    Mappin, Broad Lane Block #[br] #[br]

    (Go to the back entrance of Pam Liversidge on Newcastle Street)

append dom
  | 7

append moy
  | Nov

append time
  | 18:00

append duration
  | 2 Hours

append schedule

append tickets
  p: a(href="https://www.facebook.com/events/1698490173800111/") Facebook Event &rarr;

append info
  section
    h2 Course
    p A short weekly Linux course taking you from zero to Bash hero.
    p Being profficient in a Linux environment is also a key skill for employability in the tech sector.
    p This will be especially beneficial for second years taking Software Hut next semester.

  section
    h2 Virtual Machine
    ul
      li: a(href="https://www.virtualbox.org/wiki/Downloads") VirtualBox
      li: a(href="https://drive.google.com/a/sheffield.ac.uk/file/d/0B8RGZhxPfAjSMTMxYWJnSTFrQVU/view?usp=sharing") Ubuntu Image

  section
    h2 Course Outline &amp; Slides
    ul
      li: a(href="https://drive.google.com/open?id=1-U2Oc6s4lQoLcDm-BSISdeB1tYuVgRlTSIY8SNSvtnU") Session One: Basics
      li: a(href="https://drive.google.com/open?id=1BgKuYkuFpA5JFZTRwGKTiaIA3umwqqCeKrZgHao60ZY") Session Two: File Editing and Scripting
      li Session Three: Under the Hood
      li Session Four: Git Gud
      li Session Five: Useful Tools
