extends layout

block title
  | Linux 101

block venue
  address.
    Workroom 1 #[br]
    The Diamond

block dom
  | 24

block moy
  | Oct

block time
  | 18:00

block duration
  | 2 Hours

block schedule

block tickets

block info
