extends layout

append title
  | Linux 101

append venue
  address.
    Workroom 1 #[br]
    The Diamond

append dom
  | 24

append moy
  | Oct

append time
  | 18:00

append duration
  | 2 Hours

append schedule

append tickets
  p: a(href="https://www.facebook.com/events/1822714788015241/") Facebook Event &rarr;

append info
  section
    h2 Course
    p This short

  section
    h2 Virtual Machine
    ul
      li: a(href="https://www.virtualbox.org/wiki/Downloads") VirtualBox
      li: a(href="https://drive.google.com/a/sheffield.ac.uk/file/d/0B8RGZhxPfAjSMTMxYWJnSTFrQVU/view?usp=sharing") Ubuntu Image
