extends ../layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/events.css")

block main
  h1.title Mentoring

  a(href="https://www.facebook.com/events/1812637265644016/") Open Mentoring Session - 5th November &rarr;
