extends layout-details

append title
  | ShefJam 3

append venue
  address.
    Light Structures Lab #[br]
    The Diamond

append dom
  | 24

append moy
  | Nov

append time
  | 12:00

append duration
  | 30 Hours

append schedule
  h3 Saturday
  table
    tr
      td Arrival &amp; Team Forming
      td 12:00
    tr
      td Start Jamming
      td 13:00
    tr
      td Pizza Delivery
      td 19:00

  h3 Sunday
  table
    tr
      td End Jamming
      td 17:00
    tr
      td Showcase
      td 17:30
    tr
      td Awards
      td 18:30

  p #[br](schedule subject to change)

append tickets
  p: a(href="https://www.eventbrite.co.uk/e/shefjam-3-tickets-28818430702") Tickets (Eventbrite) &rarr;
  p: a(href="https://www.facebook.com/events/1341879175852841/") Facbook Event &rarr;

append info
  section
    p ShefJam returns for its third event, with ShefJam3 - CompSoc's 30-Hour Game Jam.

    p(style="font-size: larger;"): a(href="https://www.eventbrite.co.uk/e/shefjam-3-tickets-28818430702") TICKETS ARE NOW LIVE

    p GameJams are a great way to get experience programming for fun in a team or on your own. We're endevouring to make ShefJam 3 bigger than before.
    p Here's a time lapse of ShefJam 2:
    +youtube('oILmWg7OW1I')

  section
    h2 Past Games
    p You can find repositories for past games here:
    ul
      li: a(href="https://github.com/shefcompsoc/shefjam1") ShefJam
      li: a(href="https://github.com/shefcompsoc/shefjam2") ShefJam 2

  section
    h2 Information
    p: a(href="https://github.com/shefcompsoc/shefjam3/blob/master/FAQ.md") FAQ &rarr;
    p: a(href="https://github.com/shefcompsoc/shefjam3/blob/master/RULES.md") Rules &rarr;
    p: a(href="https://github.com/shefcompsoc/shefjam3/blob/master/RESOURCES.md") Resources &rarr;
    p: a(href="https://github.com/shefcompsoc/shefjam3/blob/master/ENTRIES.md") Entries &rarr;
    p: a(href="https://github.com/shefcompsoc/shefjam3/") GitHub Repo &rarr;


  //- section
  //-   h2 Sponsors
  //-   p These guys
