extends _layout-details

append title
  | ShefJam V

append icon
  img(src="/images/event/shefjamv/icon.png" alt="")

append venue
  address.
    Computer Room 3 #[br]
    The Diamond

append dom
  | 25

append moy
  | Nov

append time
  | 10:00

append duration
  | 30 Hours

append schedule
  h3 Saturday
  table
    tr
      td Arrival &amp; Team Forming
      td 10:00
    tr
      td Intro Talk &amp; Theme Announcement
      td 11:00
    tr
      td Start Jamming
      td 11:30
    tr
      td Lunch
      td 13:00
    tr
      td Workshops Begin
      td 14:00
    tr
      td Dinner
      td 18:30
    tr
      td Midnight Snack
      td 00:00

  h3 Sunday
  table
    tr
      td Brunch
      td 11:30
    tr
      td End Jamming
      td 17:00
    tr
      td Showcase
      td 17:15
    tr
      td Awards Ceremony
      td 18:00

  p #[br](schedule subject to change)

append tickets
  p: a(href="https://su.sheffield.ac.uk/groups/computer-science-society-4dd7/events/shefjam-v") Tickets (Union) &rarr;
  p: a(href="https://www.facebook.com/events/796289680543322/") Facbook Event &rarr;

append info
  section
    p CompSoc returns with ShefJam V &mdash; our 30-hour game jam.

    p(style="font-size: larger;"): a(href="https://su.sheffield.ac.uk/groups/computer-science-society-4dd7/events/shefjam-v") TICKETS ARE NOW LIVE &rarr;

    p Game jams are a great way to get experience programming for fun in a team or on your own.

  section
    h2 Past Games
    p You can find repositories for past games here:
    ul
      li: a(href="https://github.com/shefcompsoc/shefjam1") ShefJam &rarr;
      li: a(href="https://github.com/shefcompsoc/shefjam2") ShefJam 2 &rarr;
      li: a(href="https://github.com/shefcompsoc/shefjam3") ShefJam 3 &rarr;
      li: a(href="https://github.com/shefcompsoc/shefjam4") ShefJam 4 &rarr;

  section
    h2 Information
    ul
      li: a(href="https://github.com/shefcompsoc/shefjamv/blob/master/FAQ.md") FAQ &rarr;
      li: a(href="https://github.com/shefcompsoc/shefjamv/blob/master/RULES.md") Rules &rarr;
      li: a(href="https://github.com/shefcompsoc/shefjamv/blob/master/RESOURCES.md") Resources &rarr;
      li: a(href="https://github.com/shefcompsoc/shefjamv/blob/master/ENTRIES.md") Entries &rarr;
      li: a(href="https://github.com/shefcompsoc/shefjamv/") GitHub Repo &rarr;
