extends ../layout

append styles
  link(rel="stylesheet", type="text/css", href="/styles/event/shefjam3.css")

block main
  h1.title ShefJam 3

  div.flex
    aside
      section.venue
        h2 Venue
        p Venue infomation

      section.schedule
        h2 Schedule
        .start
          time
            span.moy Nov
            span.dom 24
          .details
            .time 12:00
            .duration 30 Hours

        h3 Saturday
        table
          tr
            td Arrival &amp; Team Forming
            td 12:00
          tr
            td Start Jamming
            td 13:00
          tr
            td Pizza Delivery
            td 19:00

        h3 Sunday
        table
          tr
            td End Jamming
            td 17:00
          tr
            td Showcase
            td 17:30
          tr
            td Awards
            td 18:30

      section.links
        h2 Tickets
        p: a(href="") Tickets (Eventbrite) &rarr;
        p: a(href="") Facbook Event &rarr;

    div.info
      section.info
        p general info
        p video promo

      hr

      section.faq
        h2 FAQ
        h3 Do I have to be a member of the Computer Science Society?
        p Non-members can come as well, but non-members tickets are slightly more expensive.

        h3 What do I need to bring?
        p You'll need to bring a laptop (and its charger), with all the tools you need installed. You can also bring graphics tablets, small midi controllers, and some cold drinks and snacks.

        h3 I can’t program.
        p You don’t have to! You could team up with someone who can program, and your strengths in other fields, such as music or graphics can improve the game. There are also some free game engines which require very little programming knowledge, such as Construct 2 and GameMaker: Studio.

        h3 I’ve never made a game before.
        p Make one now! Start with something simple, there a lots of tutorials available for any game engine or library you choose, see our recommendations list below.

        h3 I’m a Hallam Student / UoS Alumni / Non-Student, can I come?
        p Yes you can! You will have to buy a non-members ticket, which will cost a bit more.

        h3 I don’t have any / enough team members, what should I do?
        p You can contact others on our Slack channel, or talk to people on the day of the event to team up. Alternatively you could enter solo, we have given awards to soloists in the past..

        h3 What happens to our games after the jam?
        p You retain full ownership of whatever you create. If you make it public (on Github, etc.), we will publicise it on our site.

        h3 How many team members can we have?
        p There is no limit. However, smaller teams make management easier and we can only award prizes to teams of 5 or less.

      hr

      section.rules
        h2 Rules
        p Standard gamejam rules

      hr

      section.resources
        h2 Resources
        p Some links to useful stuff

      hr

      section.sponsors
        h2 Sponsors
        p These guys
