extends ../layout

block main
  h1.title ShefJam 3

  section.venue
    h2 Venue
    p Venue infomation

  section.schedule
    h2 Schedule
    p Schedule information

  section.faq
    h2 FAQ
    p questions and answers

  section.rules
    h2 Rules
    p Standard gamejam rules

  section.resources
    h2 Resources
    p Some links to useful stuff

  section.sponsors
    h2 Sponsors
    p These guys
