extends ../layout

append styles
  link(rel="stylesheet" type="text/css" href="/styles/events.css")

block main
  h1.title Socials

  section.upcoming
    h2 Upcoming
    div.month

      div.event
        time
          span.moy Nov
          span.dom 23
        div.details
          div.name Wednesday Corp
          div.link: a(href="https://www.facebook.com/events/1154334107986361/") Facebook Event &rarr;

    section.upcoming
      h3 Past Socials
      h2 2016/17
      div.month

        div.event
          time
            span.moy Oct
            span.dom 31
          div.details
            div.name Halloween Social
            div.link: a(href="https://www.facebook.com/events/190109711432601/") Facebook Event &rarr;

        div.event
          time
            span.moy Sep
            span.dom 30
          div.details
            div.name Freshers Bar Crawl
            div.link: a(href="https://www.facebook.com/events/301175760255487/") Facebook Event &rarr;

        div.event
          time
            span.moy Sep
            span.dom 28
          div.details
            div.name Midweek Pint
            div.link: a(href="https://www.facebook.com/events/301175760255487/") Facebook Event &rarr;

      h2 2015/16
      div.month

        div.event
          time
            span.moy Mar
            span.dom 16
          div.details
            div.name Bar Crawl + Corp
            div.link: a(href="https://www.facebook.com/events/203773056644735/") Facebook Event &rarr;

        div.event
          time
            span.moy Mar
            span.dom 11
          div.details
            div.name CompSoc Pub Quiz
            div.link: a(href="https://www.facebook.com/events/822871811155905/") Facebook Event &rarr;

        div.event
          time
            span.moy Dec
            span.dom 10
          div.details
            div.name Christmas Meal
            div.link: a(href="https://www.facebook.com/events/101139880258300/") Facebook Event &rarr;

        div.event
          time
            span.moy Oct
            span.dom 29
          div.details
            div.name Red Deer Social
            div.link: a(href="https://www.facebook.com/events/1624293311166278/") Facebook Event &rarr;

        div.event
          time
            span.moy Oct
            span.dom 28
          div.details
            div.name Halloween Bar Crawl
            div.link: a(href="https://www.facebook.com/events/319026651605658/") Facebook Event &rarr;

        div.event
          time
            span.moy Oct
            span.dom 8
          div.details
            div.name Red Deer Social
            div.link: a(href="https://www.facebook.com/events/1687925271441597/") Facebook Event &rarr;

        div.event
          time
            span.moy Sep
            span.dom 28
          div.details
            div.name Freshers Bar Crawl
            div.link: a(href="https://www.facebook.com/events/395485227288543/") Facebook Event &rarr;

      h2 2014/15
      div.month
        p This period of time did not exist. You imagined it.

      h2 2013/14
      div.month

        div.event
          time
            span.moy May
            span.dom 27
          div.details
            div.name End of Year Meal
            div.link: a(href="https://www.facebook.com/events/665526086818085/") Facebook Event &rarr;

        div.event
          time
            span.moy Apr
            span.dom 3
          div.details
            div.name Laser Quest + Night Out
            div.link: a(href="https://www.facebook.com/events/291316887692206/") Facebook Event &rarr;

        div.event
          time
            span.moy Mar
            span.dom 20
          div.details
            div.name Curry Night
            div.link: a(href="https://www.facebook.com/events/512947188825206/") Facebook Event &rarr;

        div.event
          time
            span.moy Feb
            span.dom 24
          div.details
            div.name Laser Quest
            div.link: a(href="https://www.facebook.com/events/274492706060050/") Facebook Event &rarr;

        div.event
          time
            span.moy Dec
            span.dom 17
          div.details
            div.name Chrismas Clubbing
            div.link: a(href="https://www.facebook.com/events/788281361197945/") Facebook Event &rarr;

        div.event
          time
            span.moy Dec
            span.dom 17
          div.details
            div.name Chrismas Meal
            div.link: a(href="https://www.facebook.com/events/319023014905630/") Facebook Event &rarr;

        div.event
          time
            span.moy Nov
            span.dom 17
          div.details
            div.name CompSoc Does Geek Chic
            div.link: a(href="https://www.facebook.com/events/539186716168452/") Facebook Event &rarr;

        div.event
          time
            span.moy Oct
            span.dom 23
          div.details
            div.name CompSoc Does Bowling
            div.link: a(href="https://www.facebook.com/events/651302744903861/") Facebook Event &rarr;

        div.event
          time
            span.moy Oct
            span.dom 1
          div.details
            div.name Freshers Bar Crawl
            div.link: a(href="https://www.facebook.com/events/644859448865800/") Facebook Event &rarr;

      h2 2012/13
      div.month

        div.event
          time
            span.moy Jun
            span.dom 4
          div.details
            div.name CompSoc Invades Plug
            div.link: a(href="https://www.facebook.com/events/142518505933973/") Facebook Event &rarr;

        div.event
          time
            span.moy Jun
            span.dom 4
          div.details
            div.name End of Year Meal
            div.link: a(href="https://www.facebook.com/events/540336206007715/") Facebook Event &rarr;

        div.event
          time
            span.moy Mar
            span.dom 14
          div.details
            div.name Curry Meal Out
            div.link: a(href="https://www.facebook.com/events/161434280678117/") Facebook Event &rarr;

        div.event
          time
            span.moy Dec
            span.dom 12
          div.details
            div.name Christmas Meal
            div.link: a(href="https://www.facebook.com/events/268113106644512/") Facebook Event &rarr;

        div.event
          time
            span.moy Nov
            span.dom 28
          div.details
            div.name Wednesday Corp
            div.link: a(href="https://www.facebook.com/events/166285523516619/") Facebook Event &rarr;

        div.event
          time
            span.moy Nov
            span.dom 8
          div.details
            div.name CompSoc Pub Quiz
            div.link: a(href="https://www.facebook.com/events/436049119788397/") Facebook Event &rarr;

        div.event
          time
            span.moy Oct
            span.dom 14
          div.details
            div.name Comedy Club
            div.link: a(href="https://www.facebook.com/events/287393331371324/") Facebook Event &rarr;

        div.event
          time
            span.moy Sep
            span.dom 30
          div.details
            div.name Comedy Club
            div.link: a(href="https://www.facebook.com/events/542962545720576/") Facebook Event &rarr;

        div.event
          time
            span.moy Sep
            span.dom 27
          div.details
            div.name Freshers Bar Crawl
            div.link: a(href="https://www.facebook.com/events/286570671444771/") Facebook Event &rarr;

      h2 2011/12
      div.month

        div.event
          time
            span.moy May
            span.dom 31
          div.details
            div.name End of Year Meal
            div.link: a(href="https://www.facebook.com/events/363751807021087/") Facebook Event &rarr;

        div.event
          time
            span.moy Mar
            span.dom 30
          div.details
            div.name Easter Night Out
            div.link: a(href="https://www.facebook.com/events/817167031704014/") Facebook Event &rarr;

        div.event
          time
            span.moy Mar
            span.dom 6
          div.details
            div.name Boudica Launch Night
            div.link: a(href="https://www.facebook.com/events/1077093222305477/") Facebook Event &rarr;

        div.event
          time
            span.moy Mar
            span.dom 4
          div.details
            div.name Comedy Club
            div.link: a(href="https://www.facebook.com/events/810206315736046/") Facebook Event &rarr;

        div.event
          time
            span.moy Dec
            span.dom 13
          div.details
            div.name Chrismas Meal
            div.link: a(href="https://www.facebook.com/events/909483585757005/") Facebook Event &rarr;

        div.event
          time
            span.moy Dec
            span.dom 11
          div.details
            div.name Return of the Last Laugh
            div.link: a(href="https://www.facebook.com/events/705071939602228/") Facebook Event &rarr;

        div.event
          time
            span.moy Dec
            span.dom 9
          div.details
            div.name Corp Night Out
            div.link: a(href="https://www.facebook.com/events/675758145862041/") Facebook Event &rarr;

        div.event
          time
            span.moy Dec
            span.dom 9
          div.details
            div.name Christmas Night Out
            div.link: a(href="https://www.facebook.com/events/951740268192242/") Facebook Event &rarr;

        div.event
          time
            span.moy Nov
            span.dom 15
          div.details
            div.name Tuesday Club
            div.link: a(href="https://www.facebook.com/events/701286659982811/") Facebook Event &rarr;

        div.event
          time
            span.moy Nov
            span.dom 13
          div.details
            div.name Comedy Club
            div.link: a(href="https://www.facebook.com/events/819013021525301/") Facebook Event &rarr;

        div.event
          time
            span.moy Oct
            span.dom 15
          div.details
            div.name Pop Tarts
            div.link: a(href="https://www.facebook.com/events/883426665055194/") Facebook Event &rarr;
