extends layout-details

append title
  | 2016/17 Workshops

append venue
  address.
    Lecture Theatre 7#[br]
    The Diamond

append dom
  | 20

append moy
  | Feb

append time
  | 17:00

append duration
  | 2 hours

append schedule

block tickets
  h2 Register Interest
  p: a(href="https://www.facebook.com/events/803701049817669/") Facbook Event &rarr;

append info
  section
    p We're hosting a series of workshops for anyone &mdash; no CompSoc Membership required.
    p Every week through spring semester on Mondays, we'll be covering a covering a variety of topics:

  h2 Upcoming

  section
    h3 GitKraken (Visual Git) &mdash; 20th Feb
    p Version Control is a vital part of working in a team during software development.
    p In this session you will learn the Git from the basics all the way up to managing multiple branches for each aspect of your software using a with the visual aide of a Git GUI.
    p GitKraken is the most popular Git GUI for Windows / macOS / Linux. GitKraken makes Git commands and processes easy, fast, and intuitive. Enjoy a visually appealing experience that requires fewer interactions, allows for more fluid workflows, and provides total functionality.
    p: a(href="https://www.facebook.com/events/803701049817669/") Facbook Event &rarr;

  hr

  h2 Previous Workshops

  section
    h3 PC Building &mdash; 6th Feb
    p Come along and build a Desktop PC from scratch!
    p Rob and Guru will take you through the process practically, from selecting components that work together to completing your build, along with an overview of what the part do.
    p Knowing how a computer works could also help you fix your own in the future!
    p: a(href="https://drive.google.com/open?id=1wRtaODwYFPDKikM75LS5CH2VbGd6xu8j5TEwg7lkXRY") Slides &rarr;
    p: a(href="https://www.facebook.com/events/167960933694143/") Facbook Event &rarr;

  hr

  section
    h3 Modern Web Development &mdash; 13th Feb
    p Interested in Web Development but don't know where to start or what is being used in the insustry today?
    p Rob and Matt will be showing you the ropes of the latest trends in Web Tech including NodeJS, Ruby on Rails and PHP.
    p It can seem complicated looking this stuff up online but we want to make it simple for you.
    P: a(href="https://www.facebook.com/events/212662222536886/") Facebook event &rarr;
